body {
background-image: url("https://i.pinimg.com/originals/36/39/83/363983e74af9626e142d1b556ba797b6.jpg");
-webkit-background-size: stretch;
-moz-background-size: stretch;
-o-background-size: stretch;
background-size: stretch;
}

body {
  font-size: 20px;
}
